
* {
    margin:0px;
    padding:0px;
}
#container {
    position: relative;
}
.box {
    padding: 5px;
    float: left;
}
.box_img {
    padding: 5px;
    border: 1px solid #ff6a00;
    box-shadow: 0 0 5px #ffd800;
    border-radius: 5px;
}
    .box_img img {
        width: 150px;
        height: auto;
    }
    
